[project]
	description =  A Reliable Memory Centric Distributed Storage System
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jiri Simsa (jsimsa)
[access "refs/for/refs/*"]
	read = group user/Jiri Simsa (jsimsa)
	push = group user/Jiri Simsa (jsimsa)
	label-Code-Review = -2..+2 group user/Jiri Simsa (jsimsa)
	label-Verified = -1..+1 group user/Jiri Simsa (jsimsa)
	rebase = group user/Jiri Simsa (jsimsa)
	removeReviewer = group user/Jiri Simsa (jsimsa)
	submit = group user/Jiri Simsa (jsimsa)
[access "refs/heads/*"]
	read = group user/Jiri Simsa (jsimsa)
	create = group user/Jiri Simsa (jsimsa)
	push = +force group user/Jiri Simsa (jsimsa)
	pushMerge = group user/Jiri Simsa (jsimsa)
[access "refs/tags/*"]
	push = +force group user/Jiri Simsa (jsimsa)
	pushTag = group user/Jiri Simsa (jsimsa)
	pushSignedTag = group user/Jiri Simsa (jsimsa)
